# resutls
pic*
sho*
*.pkl
*test/tmp/*

#Dev
snippets.py
*cluster_centers.py
*high_contraction_iter1_top60_ids.py

#Other
*.ini
*.log

# Large cloud/mesh files
meshes/*
*.pts
*.ply
*.pcd
# Gif framefiles
img_*.jpg
# Untracked Scratch Work
src/test.py
# settings/configc
.vscode/settings.json
.envrc

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST


# Environments
venv/